body {
  font-family: "Roboto";
}

.conteiner {
  width: 1280px;
  margin: 0 auto;
}

.head {
}

.head-title {
  display: flex;
  align-items: left;
  font-size: 80px;
  line-height: 94px;
  align-items: flex-end;
  color: #000000;
  margin-top: 65px;
}

.head-title-color {
  align-items: left;
  color: #3181A6;;
}

.head-menu {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: #35444f;
  height: 70px;
  margin-top: 38px;
}

.head-menu-item {
  transition: 0.5s;
  border-left: 1px solid #ffffff;
  font-size: 24px;
  line-height: 28px;
  padding: 26px 32px 19px 33px;
}

.head-menu-item:hover {
  background-color: #222f3a ;
  padding: auto;
}

.head-menu-item:last-child {
  border-right: 1px solid #ffffff; 
}

.head-menu-link {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding-left: 32px;
}


.list-menu-img {
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}

.list-menu {
  border: 1px solid #000000;
  list-style: none;
  width: 344px;
  margin-right: 52px;
}

.list-menu-item {
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 25px;
  transition: 0.5s;
}

.list-menu-item:hover {
  padding-left: 60px;
  background-color: #DBDBDB;
  color: #35444F;
}

.menu-image {
  border: 1px solid #000000;
  list-style: none;
  width: 880px;
  height: 529px;
  display: inline-block;
}

.menu-image-btn {
  width: 320px;
  height: 380px;
  margin-left: 297px;
  margin-top: 75px;
  transition: 0.5s;
}

.menu-image-btn:hover {
  transform: scale(1.2);
}

.main-paragraph {
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    align-items: flex-end;
        
}

.main-paragraph-first {
    width: 885px;
    height: 120px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    
}

.main-paragraph-second{
    width: 885px;
    height: 109px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
   
    
}

.main-footer {
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    height: 70px;
    margin-top: 54px;
    margin-bottom: 30px;
    /* margin-left: 75px; */
    }
  
  .main-footer-list {
  }
  
  .main-footer-link {
    font-size: 24px;
    line-height: 28px;
    color: #0C1927;
    transition: 0.3s;
  }
  
  .main-footer-link:hover {
    padding-bottom: 13px;
    color: #3181A6;
    border-bottom: 1px solid #3181A6 ;
  }

  .copyright {
    margin-left: auto;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
  }